<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030830730935-qvo63h9b573oujlnjdp6t42pgoh8976a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030830730935-qvo63h9b573oujlnjdp6t42pgoh8976a</string>
	<key>API_KEY</key>
	<string>AIzaSyCJx5rGj_ZMN5cA5h8-8ti6rV0VmnEKGNs</string>
	<key>GCM_SENDER_ID</key>
	<string>1030830730935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs125.WelcomingWellness</string>
	<key>PROJECT_ID</key>
	<string>welcomingwellness-b9385</string>
	<key>STORAGE_BUCKET</key>
	<string>welcomingwellness-b9385.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030830730935:ios:b3c4988f8fb2af9e772732</string>
</dict>
</plist>